/* Reset some default styling */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    width: 100%;
}

.container {
    /*max-width: 800px;*/
    margin: 0 auto;
    padding: 20px;
    width: 95%;
}

.welcome-content,
.invitation-content {
    background: url("../bg.jpeg");
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: auto;
    height: 1066px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat no-repeat;
    /*margin: 0px;*/
    margin: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3490dc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #2779bd;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.hidden {
    display: none !important;
}

.text-sm {
    font-size: x-small !important;
}

video {
    width: 100%;
    position: relative;
    /*bottom: 12px;*/
    /*right: 12px;*/
    border: 2px solid #eee;
    border-radius: 12px;
    margin-top: 15px;
}
